* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background-color: #bcbcbc !important;
}


.nav_top {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 666;
}

.main_content {
  margin-top: 50px;
  padding: 10px;
}

.header {
  text-align: center;
  padding: 32px;
}

.tt-menu {
  width: 200px;
  margin-top: 0;
  padding: 2px 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  overflow-y: auto;
  max-height: 500px;
  position: absolute;
  top: 100%;
  left: 15px;
  z-index: 100;
  display: none;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.component {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.component svg {
  height: auto;
  width: 100%;
  box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 60%);
}

.component svg:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 5px 5px wheat;
}

.search-text:focus + .tt-menu {
  display: block;
}

input {
  margin: 0px 0px 0px 15px !important;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .column2 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .column2 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

.tt-suggestion:hover {
  background-color: rgb(102, 255, 102, 0.7);
  box-shadow: 2px 2px 10px rebeccapurple;
  border-radius: 2px;
  cursor: pointer;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  /* max-height: 450px; */
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: auto;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#modal-button {
  margin: auto;
  display: block;
  text-align: center;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}